<!DOCTYPE html>
<html>
<head>
<!--
    JavaScript Module

    Author: Kelley Fischer
    Date  : 11/15/19

-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/styles.css">
<script src="js/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<title>Double Rock and Roll</title>
</head>
<body>

    <header><h1><a href="index.html">Double Rock and Roll</a></h1></header>
